modules = ["nodejs-20", "python-3.11", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40219
externalPort = 3003

[[ports]]
localPort = 42463
externalPort = 5173

[[ports]]
localPort = 43141
externalPort = 3002

[[ports]]
localPort = 43197
externalPort = 5000

[[ports]]
localPort = 43403
externalPort = 6000

[[ports]]
localPort = 43547
externalPort = 6800

[[ports]]
localPort = 45291
externalPort = 4200

[[ports]]
localPort = 45859
externalPort = 3001

[[ports]]
localPort = 46765
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SwipDEAL Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "SwipDEAL Production"
author = 48014459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
